@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root {
    --red-color: #f13f3f;
    --nav-color: #2f3030;
    --bg-color:  #202121;
    --white-color: #ffffff;
  }
html {
  scroll-behavior: smooth;
  font-family: "Sora", sans-serif;

}
 
:target {
  scroll-margin-top: 150px;
}
body{
    background-color: var(--bg-color);
}
main{
    margin-top: 4%;
    padding-bottom: 100px;
}
.language{
    width: 32px;
    height: 32px;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--nav-color);
    height: 8vh;
    width: 100%;
    position: fixed;
    top: 0;
    opacity: 0.8;
}
.nav-list{
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-list li{
    margin-left: 32px;
    letter-spacing: 3px;
}
.nav-list li a{
    color: var(--white-color);
    text-decoration: none;
}
.nav-list li a:hover,a:active{
    color: var(--red-color);
}
.nav-list li .button{
    border-radius: 16px;
    background-color: var(--red-color);
    width: 150px;
    height: 36px;
    color: var(--white-color);
    border: none;
    cursor: pointer;
}
.home{
    display: flex;
    gap: 100px;
    justify-content: center;
}
.title-name{
    padding-top: 40px;
    h1{
        font-size: 144px; 
    }
    h1 .name{
        color: var(--white-color);
    }
    h1 .surname {
        color: var(--red-color); 
    }
    h2{
        font-size: 40px;
        color: var(--white-color);
    }
}
.about{
    margin-top: 200px;
    text-align: center;
}
.container{
    margin: auto;
    width: 70%;
    margin-bottom: 100px;
    .paragraph{
        margin-top: 90px;
        font-size: 40px;
        color: var(--white-color);
        text-align: center;
    }
}
